@media screen and (max-width:700px){

    header .container{
       display: flex;
       flex-direction: column;

    }

    button{

        margin-top: 10px;
        width: 230px;
        height: 60px;
    }

}

@media screen and (min-width: 1000px){

    .main-film .description{

        width: 60%;
    }
}